<html>
<head>
	<title>
		Flask
	</title>
</head>
<body>

	
	<style>
		body {
		  background-image: url('https://github.com/hamdan-codes/hamdan-flask-mail-app/blob/main/templates/bg.jpg');
		}
	</style>
	<center><h1>Hamdan's Flask Mail App </h1></center>

	<form action="https://hamdan-flask-mail-app.herokuapp.com/login" method="POST">

		<table>
			<tr>
				<td>Sender E-mail :</td>
				<td><input type="text" name="se" /></td>
			</tr>
			<tr>
				<td>Sender E-mail's Password :</td>
				<td><input type="password" name="pa" /></td>
			</tr>
			<tr>
				<td>Recipients : </td>
				<td><input type="text" name="re" /> (Enter the Mails separated by a comma)</td>
			</tr>
			<tr>
				<td>Subject of the mail : </td>
				<td><input type="text" name="su" /></td>
			</tr>
			<tr>
				<td>Body of the mail : </td>
				<td><<textarea name="bo" rows="10" cols="100">&#13;&#13;&#13;&#13;&#13; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;~Sent from Hamdan's Mail app </textarea></td>
			</tr>
		</table>
		<p><input type="submit" value="submit" /></p>
	</form>
</body>
</html>
